.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 100%;
}

.quoteContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 70%;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #ff8585;
}

.quote{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.author{
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.button button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: #7bff7e;
    border: none;
    padding: 0.7rem;
    color:#787878;
    font-size: 1rem;
    font-weight: 800;
}